    .font-17 { font-size: 17px; }

    .pull-right{ float: right; }

    .pull-left{ float: left; }

    .margin-top-20{ margin-top: 30px; }

    .margin-top-25{ margin-top: 25px; }

    .btn-create{float:right; padding:0 0 5px 0; }

    .top-padding-20{ padding-top: 20px!important; }

    .orange-text{ color: #e26b0a; }

    .light-blue-text{ color: #8db4e2; }

    .margin-top-5{ margin-top: 15px!important; }

    .margin-top-7{ margin-top: 7px!important; }

    .deployment-btns-width{ width: 150px!important; }

    .align-center{ text-align: center!important; }

    .clear-width{ width: 0!important; }

    .margin-left-20{ margin-left: 40px!important; }

    .margin-left-10{ margin-left: 10px!important; }

    .red-text{ color: red; }

    .checkbox-position{ margin-top: -1px!important; }

    .border-top{ border-top: 1px solid #e5e5e5; }

    .margin-left-neg-2{margin-left: -2px!important;}

    .margin-left-neg-5{margin-left: -5px!important;}

    .margin-left-neg-80{ margin-left: -80px!important; }

    .margin-left-neg-20{ margin-left: -20px!important; }

    .margin-top-neg-20{ margin-top: -20px!important; }

    .margin-top-neg-30{ margin-top: -30px!important; }

    .margin-top-neg-120{ margin-top: -20px!important; }

    .margin-top-neg-6{ margin-top: -6px!important; }

    .margin-left-120{ margin-left: 120px!important; }

    .margin-right-5{ margin-right: 5px!important; }

    .margin-left-200{ margin-left: 200px!important; }

    .width-100{ width: 100px!important; }

    .width-190{ width: 190px!important; }

    .modal-header-new{ background: #337AB7!important; color: #fff!important; }

    .add-question-btn{ margin-top: -40px!important;}

    .chatbox-border{
        border: solid;
        border-width: .2px;
        border-color: #d8d8d8;
        padding: 25px;
        background: white;
    }

    .quick_reply_btn{
        border-radius: 25px;
        color: #0084ff;
        border: solid;
        border-width: .2px;
        border-color: #0084ff;
        margin-right: 10px;
        padding: 5px 15px;
        display: inline-block;
        margin-top: 10px;
    }

    label{
        cursor: default;
    }

    .display-none{
        display: none!important;
    }

    .sender_message_bubble, .sender-message-bubble{
        background: #e8e8e8;
        border-radius: 25px;
        margin-right: 20px;
        padding: 5px 15px;
    }

    .sender-message-bubble {
        background: #0084ff none repeat scroll 0 0;
        color: #fff;
    }

    .clear-background{background: none!important;}

    .three-fourth{width:85%;}

    .gray-box {
        border: 0.2px solid #d8d8d8;
        border-bottom: 0px;
        border-radius: 8px;
        width: 80%;
    }

    .gray-bot-border {
        border-bottom: 0.2px solid #d8d8d8;
        border-color: #d8d8d8;
        border-width: 0.2px;
    }

    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px!important;
        padding-right: 0px!important;
    }

    .persistent-menu-text-padding {
        padding: 10px;
    }

    .persistent-menu-preview-text {
        margin-left: 10px;
    }

    .font-color-blue {
        color: #0264c1;
        font-size: 17px;
        margin-left: 5px;
    }

    .btn-response-text {
        background: #e8e8e8 none repeat scroll 0 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .btn-response-button {
        background: #fff none repeat scroll 0 0;
        border: 0.2px solid #e8e8e8;
        color: #0084ff;
    }

    .btn-response-button, .btn-response-text {
        clear: both;
        display: block;
        margin-right: 20px;
        padding: 5px 15px;
        width: 100%;
    }

    .persistent-menu-blue-text {
        color: #0099e5;
        margin-left: 10px;
    }

    .finish-button{background-color: #303030!important;}

    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: #0084ff;
        line-height: 25px;
        background: #fff;
        box-shadow: 0 0 0 1px #0084ff;
        margin: 5px;
        display: inline-block;
    }

    .black-box {
        border: solid;
        border-width: .1px;
        border-color: #d8d8d8;
        margin: 2px;
        margin-left: 10px;
    }

    .product-btn {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .text-center {text-align: center;}

    .padding-top-15 {margin-top: 15px;}

    .little-padding-left {padding-left: 10px;}

    .little-padding-top {padding-top: 50px;}

    .items [class*="span"] { margin-left: 0px;}

    .modal-body{max-height: 700px!important;
        position: relative;
        overflow-y: auto;
    }

    .row-fluid input[class*="span"], .row-fluid textarea[class*="span"], .row-fluid select[class*="span"] {
        display: inline!important;
        min-height: 30px!important;
    }
    
    .loadingBar{
        z-index: 99999999;
        background-color: #20B2AA;
        height: 5px;
    }

    .nav-btns{ margin-left: 5%!important;}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #337ab7;
        color: white;
    }

    .pagination {
        display: inline-block;
    }
    
    .pagination a:hover:not(.active) {background-color: #ddd;}

    .background-gray{background-color: #cfcfcf!important;}

    .display-block{display: block!important;}

    .display-none{display: none!important;}

    .clear-padding-right{padding-right: 0px!important}

    body{padding-right: 0px!important;}

    .fb-button{
        border-color: #D3D3D3;
        color: #0084ff;
    }

    .micro-top-padding {
        padding-top: 8px;
    }

    .overlay {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */    
        height: 0%;
        width: 100%;
        position: fixed; /* Stay in place */
        z-index: 99999; /* Sit on top */
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }

    .overlay-content {
        position: relative;
        top: 25%; /* 25% from the top */
        width: 100%; /* 100% width */
        text-align: center; /* Centered text/links */
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
        color: white;
        font-size: 23px;
    }

    .fullheight {
        height: 100%;
    }

    .clearheight {
        height: 0%;
    }

    .loader {
      margin-left: auto;
      margin-right: auto;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 90px;
      height: 90px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .nav-tabs>li{
        width: 150px!important;
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 31px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 23px;
      width: 23px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .green{ color: #4CAF50 }

    .red{ color: #D9534F }

    input:checked + .slider {
      background-color: #4CAF50;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }

    .font-size-15{
        font-size: 15px;
    }

    .input{
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .width-320{
        width: 320px!important;
    }

    .width-400{
        width: 400px!important;
    }
    
    .border-green: { border-color : #5CB85C!important; }

    .border-red: { border-color : #D9534F!important; }

    .border-blue: { border-color : #337AB7!important; }

    .border-yellow: { border-color : #F0AD4E!important; }
